<%= form_for [refinery, :advertisements_admin, @advertisement] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @advertisement,
              :include_object_name => true %>

  <%= f.hidden_field :user_id, value: @advertisement.new_record? ? current_refinery_user.id : @advertisement.user_id %>
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :category -%>
    <%= f.select :category_id, options_from_collection_for_select(Refinery::Advertisements::Category.all, 'id', 'name', @advertisement.category_id), :class => "larger widest" -%>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:body],
                :object => "advertisements/advertisement" -%>
  </div>

  <div class='field'>
    <%= f.label :expiry_date -%>
    <%= f.date_select :expiry_date -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.advertisements.admin.advertisements.advertisement'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @advertisement.title) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
