<%= form_for [refinery, :advertisements_admin, @advertisement] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @advertisement,
              :include_object_name => true %>

  <%= f.hidden_field :user_id, value: @advertisement.new_record? ? current_refinery_user.id : @advertisement.user_id %>
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :category -%>
    <%= f.select :category_id, options_from_collection_for_select(Refinery::Advertisements::Category.all, 'id', 'name', @advertisement.category_id), :class => "larger widest" -%>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:body],
                :object => "advertisements/advertisement" -%>
  </div>

  <div class='field'>
    <%= f.label :expiry_date -%>
    <%= f.date_select :expiry_date -%>
  </div>

  <div class='field'>
  <div id='images_fields'>
    <% @advertisement.advertisement_images.each do |image| %>
      <div class='thumbnail row' data-id=<%= image.id %>
        <%= link_to image.url, :title => image.image_name do %>
          <%= image_tag image.url, class: 'image_list' %>
        <% end %>
          <div class='caption'>
            <%= link_to t('.delete'), refinery.advertisements_admin_advertisement_image_path(image), method: :delete, remote: true, class: 'close_dialog button' %>
          </div>
      </div>
    <% end %>

    <div style="clear:both;"></div>

    <% @advertisement.advertisement_images.build %>
    <%= f.fields_for :advertisement_images, @advertisement.advertisement_images.last do |image| %>
      <div class="parent">
        <div class='field'>
            <span><%= t('.add_file') %></span>
            <%= image.file_field :image %>
        </div>
        <a href='#' onclick="add_field($(this)); return false" class="add_field" style='display: none'><%= refinery_icon_tag("add.png") %>
          <div class="inline"><%= t('.add_source') %></div>
        </a>
      </div>
    <% end %>
    <div class="new_field" style="display: none">
      <%= f.fields_for :advertisement_images, @advertisement.advertisement_images.last do |image| %>
          <span><%= t('.add_file') %></span>
          <%= image.file_field :image %>
          <div class='add_remove_buttons'>
            <a href='#' onclick="add_field($(this)); return false" class="add_field"><%= refinery_icon_tag("add.png") %>
              <div class="inline"><%= t('.add_source') %></div>
            </a>
          </div>
      <% end %>
    </div>
  </div>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.advertisements.admin.advertisements.advertisement'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @advertisement.title) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });

    function add_field(plus){
        plus.parents('div.parent').find('a.add_field').hide();
        prepare_new_field();
        $div = window.new_field.clone();
        $div.addClass('parent');
        $div.removeClass('new_field');
        $('#images_fields').append($div.show());
    }
    $(function(){
        $('div.parent').last().find('a.add_field').show();
        window.new_field = $('div.new_field').remove();
    });
    function prepare_new_field(){
        var $inputs = window.new_field.find('input');
        var date = Number(new Date);
        $.each($inputs, function(){
            var new_name = $(this).attr('name').replace(/\[\d+\]/,'['+date+']');
            $(this).attr('name', new_name);
            var new_id = $(this).attr('id') + date
            $(this).attr('id', new_id);
        });
    }
  </script>
<% end -%>
